<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= user.username %>'s <%= list.name %> list</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
  <h1>Edit a List</h1>
    <form action="/lists/<%= list._id %>?_method=PUT" method="POST">
      <p>
        <label for="name">List name:</label>
        <input
          type="text"
          name="name"
          id="name"
          value="<%= list.name || '' %>"
        />
        <br>

        <label for="description">Description:</label>
        <textarea
          name="description"
          id="description"
          ><%= list.description || '' %></textarea>
        <br>

        Locations:
        <% let locations = '' %>
        <% if (list.locations.length > 0) {%>
          <ul name="list" id="list">
            <% list.locations.forEach((location, index) => { %>
              <li>
                <%= location.name %>, <%= location.zip %>
                <button
                  type="submit"
                  name="remove"
                  value="<%= index %>"
                  >remove</button>
                <% locations += `${location.name}@${location.zip}#` %>
              </li>
            <% }) %>
          </ul>
        <% } else {%>
          no locations have been added to this list yet.
        <% } %>
        <input type="hidden" name="locations" value="<%= locations %>"/>
        <br>

        <label for="zip">ZIP Code:</label>
        <input type="text" name="zip" id="zip"/>
        <button
          type="submit"
          name="add"
          value="adding"
          >Add Location</button> <%= message || '' %>
        <br>

        <input type="hidden" name="source" value="/lists/<%= list._id %>/edit">

        <button type="submit">Edit List</button>
      </p>
    </form>
  </body>
</html>